.list-cell {
    -fx-font-size: 30px;
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}
.list-view .list-cell:even {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-text-fill: white;
}
.list-view .list-cell:odd {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}