@font-face {
    font-family: 'Crimson Pro Medium';
    src: url('../assets/font/CrimsonPro-Medium.ttf');
}

.root{
    -fx-background-image: url("../assets/main_menu/Masters_of_Reinassance.png");
    -fx-background-size: cover;
}

.basicButton:hover {
    -fx-background-color: #027da3;
    -fx-text-fill: #e6cf91;
}

.basicButton {
    -fx-background-color: #025c78;
    -fx-text-fill: #e6cf91;
}

.title:hover {
    -fx-font-family: 'Crimson Pro Medium';
    -fx-font-size: 40px;
    -fx-text-fill: #5a9cf2;
}

.title {
    -fx-font-family: 'Crimson Pro Medium';
    -fx-font-size: 40px;
    -fx-text-fill: white;
}

.selectionButton:hover {
    -fx-background-color: #594f28;
    -fx-text-fill: #ffffff;
}

.selectionButton {
    -fx-background-color: #c0ad62;
    -fx-text-fill: #ffffff;
}

.backArrow:hover {
    -fx-fill: #594f28;
}

.backArrow {
    -fx-fill: #c0ad62;
}

.list-cell {
    -fx-font-size: 30px;
}
.list-view .list-cell:even {
    -fx-background-color: #c0ad62;
    -fx-text-fill: white;
}
.list-view .list-cell:odd {
    -fx-background-color: #e6cf91;
    -fx-text-fill: white;
}